---
layout: default
title: Portfolio
description: Some examples showing my design, analysis, and fabrication skills.
background: '/images/bg-portfolio.jpg'
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<h2 class="section-header">Computer Aided Design</h2>
<hr class="mt-2 mb-5">
<div class="container">
  <div class="row">
        <!-- E3D V6 Model -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                    <img class="card-img-top" src="/images/posts/e3d_v6.png" alt="E3D v6 1.75mm Universal Hotend">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0"><a href="https://e3d-online.com/v6-all-metal-hotend">E3D v6 1.75mm Universal Hotend</a></h5>
                        <div class="card-text text-black-50">Modeled in Autodesk Fusion 360</div>
                    </div>
            </div>
        </div>

        <!-- Control Box Model -->
        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                        <img class="card-img-top" src="/images/posts/control_box.png" alt="Electric Heat Control Box">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Electric Heat Control Box</h5>
                            <div class="card-text text-black-50">Modeled in Autodesk Inventor</div>
                        </div>
                </div>
        </div>

        <!-- NEMA 17 Model -->
        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                        <img class="card-img-top" src="/images/posts/nema17.png" alt="NEMA 17 Stepper Motor">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">NEMA 17 Stepper Motor</h5>
                            <div class="card-text text-black-50">Modeled in Autodesk Fusion 360</div>
                        </div>
                </div>
        </div>
                
        <!-- Float Sensor Model -->
        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                        <img class="card-img-top" src="/images/posts/float_sensor.png" alt="Float Sensor">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Float Sensor</h5>
                            <div class="card-text text-black-50">Modeled in Autodesk Inventor</div>
                        </div>
                </div>
        </div>
  </div>
</div>
