<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <div class="col-lg-12 col-md-12 copyright text-muted text-justify mx-auto">
          <p class="mb-0">Copyright &copy; 2018&ndash;{{ 'now' | date: "%Y" }} {{ site.author }} All Rights Re&shy;served, ex&shy;cept for the parts enu&shy;mer&shy;ated be&shy;low:</p>
          <ul class="small">
            <li>Any source code is li&shy;censed un&shy;der <a href="https://opensource.org/licenses/GPL-3.0">GPL-3.0</a> or lat&shy;er.</li>
            <li>This page con&shy;tent, ex&shy;clud&shy;ing the vi&shy;su&shy;al de&shy;sign and the logo&shy;type, is cov&shy;ered by <a href="http://creativecommons.org/licenses/by-sa/3.0/">Cre&shy;a&shy;tive Com&shy;mons At&shy;tri&shy;bu&shy;tion/Share-Alike Li&shy;cense</a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
